<div id="homequote"><% quote = Quote.all.sample %>
"<%= quote.content %>"<br>
- <%= link_to quote.author.name, author_path(quote.author) %>
<br>
<%= button_to "Go to Quote", quote_path(quote), method: :get%>
</div>
