<h1><%= link_to @quote.author.name, @quote.author %></h1>
<h4><%= @quote.content %></h4>
<% if logged_in?%>
<%= button_to "Add to Favorites", add_favorite_path, method: :post, params: {quote_id: @quote.id}%>
<% end %>