<label><div id="quote_box"><%= link_to @quote.author.name, @quote.author %><br><br></label>
"<%= @quote.content %>"
<% if logged_in?%>
<%= button_to "Add to Favorites", add_favorite_path, method: :post, params: {quote_id: @quote.id}%>
<% end %></div>