<div id="custom_title">Sign In</div>
<div id="custom_form"><%= form_tag(sessions_path) do%>
    <label>Username</label>
    <%= text_field_tag :username %><br><br>
    <label>Password</label>
    <%= password_field_tag :password %><br><br>
    <input type="submit" value="Sign In" class="custom_button">
<%end%></div>
<%if flash[:messages]%>
    <%=flash[:messages]%>
<%end%>