<div id="custom_title"><%= @author.name %>'s Quotes</div>
<% @author.quotes.each do |quote| %>
<div id="quote_box">"<%=quote.content %>"<%=button_to "Go to Quote", quote_path(quote), method: :get%></div><br><br>
<% end %>