a {
    color: white;
    font-weight: lighter;
    font-size: large;
}
body {
    background: rgb(27, 27, 27);
    margin: 0;
    color: white;
    font-size: larger;
    font-family: 'Droid Sans',sans-serif;
  }
  
  .content {
    margin: 10px auto;
    width: 70%;
  }
  
  .clearfix {
    overflow: hidden;
  }
  #custom_title {
    font-weight: lighter;
    font-size: larger;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  #custom_form {
    font-weight: lighter;
    margin: auto;
    padding: 2%;
    text-align: center;
    font-size: larger;
    border: black;
    background: rgb(45, 45, 45);
    border-radius: 5px;
    color: white;
    }

    .custom_button {
        
        background-color: rgb(70, 70, 70);
        border: none;
        border-radius: 2px;
        color: white;
        padding: 0.5%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        position: relative;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    }
    .custom_button:hover {

        transform: scale(1.12);
        background-color: rgb(200, 200, 200);
        color: rgb(25, 25, 25);
        font-weight: bold;
        display: inline-block;
        font-size: 15px;
        position: relative;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    }


