header {
    background: rgb(45, 45, 45);
    padding: 10px;
    a {
      text-decoration: none;
      position: relative;
      top: 20px;
      color: white;
      font-weight: lighter;
      font-family: 'Droid Sans',sans-serif;
    }
  }
  
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .nav a:hover {
    transform: scale(1.25);
  }
  #home {
    position: relative;
    top: -18px;
  }

  #search_bar {
    position: relative;
    top: 20px;
  }
 
  
